# Ignore environment files
backend/.env
web/.env

# Or ignore all .env files in any subfolder
**/.env

# Ignore node_modules across the project
**/node_modules

# Ignore target file in the backend folder
backend/target
backend/target\ 2


**/target
**/target\ 2
