dialog::backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(1px);
}

dialog {
  background-color: rgba(0, 0, 0, 0.95);
  border: 2px solid #f96d00;
  box-shadow: rgba(152, 99, 30, 0.844) 0px 10px 20px,
    rgba(233, 165, 109, 0.923) 0px 6px 6px;
  padding: 1rem;
  border-radius: 8px;
  width: auto; /* Let the modal size itself based on content */
  max-width: 90vw; /* Restricts modal to not exceed viewport width */
  max-height: 90vh; /* Restricts modal to not exceed viewport height */
  overflow-y: auto; /* Allows scrolling if content is very large */
  margin: auto;
}

#card {
  position: relative;
  border: 2px solid transparent;
  background: linear-gradient(71deg, #080509, #1a171c, #080509);
  background-clip: padding-box;
  img {
    margin-bottom: 32px;
  }
}

.bg-yellow-box {
  position: relative;
}

.bg-yellow-box::after {
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  content: "";
  z-index: -1;
  border-radius: 0.5rem;
}

.bg-yellow-box::after {
  background: linear-gradient(
    71deg,
    #110e0e,
    rgba(224, 97, 39, 0.8590029761904762) 51%,
    #110e0e
  );
}
