dialog::backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(1px);
}

dialog {
  position: relative;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.95);
  border: 2px solid #f96d00;
  box-shadow: rgba(152, 99, 30, 0.844) 0px 10px 20px,
    rgba(233, 165, 109, 0.923) 0px 6px 6px;
  padding: 1rem;
  border-radius: 8px;
  width: auto; /* Let the modal size itself based on content */
  max-width: 90vw; /* Restricts modal to not exceed viewport width */
  max-height: 90vh; /* Restricts modal to not exceed viewport height */
  overflow-y: auto; /* Allows scrolling if content is very large */
  margin: auto;
}
